/*********************************************************
* GENERAL SETTINGS
*********************************************************/

body {
  margin: 0;
}

/*********************************************************
* LANDING PAGE
*********************************************************/
.landing-page,
.sign-up-container {
  background: #41458d;
  color: #fff;
  display: flex;
  min-height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input,
textarea {
  color: #fff;
  border: none;
  background: rgba(0, 0, 0, .3);
  padding: .5em 1em;
}


input:focus {
  outline: none;
}

.btn {
  border: none;
  background: none;
}

.btn-signIn {
  color: #fff;
  width: 100%;
  padding: .5em;
  text-transform: uppercase;
  font-weight: 700;
  border: 2px solid #fff;
}

.btn-signUp {
  color: #000;
  width: 100%;
  padding: .5em;
  text-transform: uppercase;
  font-weight: 700;
  border: 2px solid #fff;
}

.btn:hover {
  cursor: pointer;
}

/*********************************************************
* LANDING PAGE
*********************************************************/

.btn-logout {
  background: #ff0000;
  color: #fff;
  padding: .5em 1em;
  margin-top: .5em;
  margin-left: 1em;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navbar-userInfo p,
.navbar-userInfo button {
  float: left;
}

.logo {
    font-size: 20px;
}
