/*********************************************************
* GENERAL SETTINGS
*********************************************************/

body {
  background-image:
    radial-gradient(
      circle,
      #41458d,
      #000
    );
  font-family: 'Roboto', 'Open Sans', sans-serif;
  margin: 0;
}

/*********************************************************
* LANDING PAGE
*********************************************************/
.landing-page,
.sign-up-container {
  color: #fff;
  display: flex;
  min-height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input,
textarea {
  color: #fff;
  border: none;
  background: none;
  border-bottom: 1px solid #d1d1d1;
  padding: .5em 1em;
}


input:focus {
  outline: none;
}

h1.logo {
  font-size: 48px;
  font-family: 'Roboto';
  letter-spacing: 2px;
}

.btn {
  border: none;
  background: none;
}

.btn-signIn {
  color: #fff;
  width: 100%;
  padding: .5em;
  text-transform: uppercase;
  font-weight: 700;

  transition: all.3s ease-in-out;
}

.sign-up-container p {
  margin-bottom: 0;
}

.sign-up-container .btn-signUp {
  padding: .5em 1em;
}

.btn-signUp {
  color: steelblue;
  width: 100%;
  padding: .5em;
  text-transform: uppercase;
  font-weight: 700;
  transition: all .3s ease-in-out;
}

.btn-signIn:hover {
  background: #fff;
  color: steelblue;
}

.btn-signUp:hover {
  background: steelblue;
  color: #fff;
}

.btn:hover {
  cursor: pointer;
}

.auth-btn {
  margin-top: 40px;
}

.auth-btn button {
  float: left;
  width: 50%;
}

/*********************************************************
* LANDING PAGE
*********************************************************/

.btn-logout {
  color: #fff;
  background: #41458d;
  padding: .5em 1em;
  margin-top: .5em;
  margin-left: 1em;
}

label {
  color: #fff;
}

.navbar {
    padding: .5em;
    color: #fff;
    border-bottom: 1px solid #41458d;
    -webkit-box-shadow: -1px 14px 31px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 14px 31px -4px rgba(0,0,0,0.75);
    box-shadow: -1px 14px 31px -4px rgba(0,0,0,0.75);
    margin-bottom: 40px;
}

.navbar-userInfo p,
.navbar-userInfo button {
  float: left;
}

.navbar-logo {
  float: left;
  margin-top: 3px;
}

.navbar-logo h1 {
  margin: 0;
}

.navbar-userInfo {
  float: right;
  overflow: hidden;
  color: #fff;
}

.navbar-userInfo p span {
  font-weight: 700;
  color: #fff;
}

.col-md-4 {
  color: #fff;
}

.logo {
    font-size: 20px;
}

.availability-panel ul {
  list-style: none;
  padding-left: 0;
  color: #fff;
  font-size: 15px;

}

.availability-panel ul li {
  padding: .5em;
}

.online {
  font-weight: 700;
}

.online:before {
  content: '';
  height: 10px;
  border-radius: 100px;
  width: 10px;
  display: inline-block;
  background: green;
  margin-right: 5px;

}

.offline:before {
  content: '';
  height: 10px;
  border-radius: 100px;
  width: 10px;
  display: inline-block;
  background: grey;
  margin-right: 5px;
}

.chat-container ul {
  list-style: none;
  padding-left: .5em;
}

.chat-container ul li p {
  margin-bottom: 0;
}
.chat-container ul li p:last-child {
  margin-top: 0;
}

.btn-primary {
  background: #41458d;
  color: #fff;
  padding: .5em 1em;
  border: 1px solid #41458d;
}

.chat-container {
  overflow: scroll;
  overflow-x: hidden;
  height: 300px;
}

.chat-input {
  margin-top: 20px;
}

.form-control {
  background: #fff;
  color: #41458d;
  margin-top: 10px;
  width: 82%;
  transition: all .3s ease-in-out;
}

.form-group .submit-btn:hover {
  color: #4d52a8;
}

h2 {
  background: #41458d;
  -webkit-box-shadow: -1px 14px 31px -4px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 14px 31px -4px rgba(0,0,0,0.75);
box-shadow: -1px 14px 31px -4px rgba(0,0,0,0.75);
  color: #fff;
  padding: 0 .5em;
}
